<?xml version="1.0" encoding="utf-8"?>

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.uberKontroller"
          android:versionCode="1"
          android:versionName="1.0">

    <application android:icon="@drawable/icon" android:label="@string/app_name"
                 android:name="com.uberKontroller.UberApp" android:debuggable="true">
        <!--<application android:label="com.uberKontroller.UberApp" android:debuggable="true">-->

        <activity android:name="com.uberKontroller.Activities.RoomsActivity"
                  android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity android:name="com.uberKontroller.Activities.NodesActivity"
                  android:label="@string/app_name">
        </activity>

        <activity android:name=".DepClasses.CapabilitiesActivity"
                  android:label="@string/app_name">
        </activity>

        <activity android:name=".DepClasses.CapabilitiesAdapterActivity"
                  android:label="@string/app_name">
        </activity>

        <activity android:name=".Activities.CapabilitiesActivity"
                  android:label="@string/app_name">
        </activity>

        <service android:enabled="true" android:name="com.uberKontroller.Services.RestService"/>
    </application>
    <uses-permission android:name="android.permission.INTERNET"></uses-permission>
</manifest>
